@media (-webkit-device-pixel-ratio: 1.25) {
    * {zoom: 0.95;}
}
@media (-webkit-device-pixel-ratio: 1.5) {
    * {zoom: 0.9;}
}



body{
    background: #0C090A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

h1{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 5.5rem;
    transform: translate(-2rem);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(238, 237, 221); */
}
#l1{transform: translate(0,10rem) rotate(-35deg);}
#l2{transform: translate(0,6rem) rotate(-28deg);}
#l3{transform: translate(0,3rem) rotate(-20deg);}
#l4{transform: translate(0,1.1rem) rotate(-13deg);}
#l5{margin-right: 5rem; transform:rotate(-7deg)}
#l7{transform: translate(0,0rem) rotate(5deg);}
#l8{transform: translate(0,1.1rem) rotate(15deg);}
#l9{transform: translate(0,3.4rem) rotate(24deg);}
#l10{transform: translate(0,6.8rem) rotate(30deg);}
#l11{transform: translate(0,10.5rem) rotate(34deg);}


span{
    margin-left: 1.5rem;
    display: inline-block;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2{
    display: flex;
    justify-content:end;
    flex-direction: column;
    border-radius: 0.8rem;
    background-color: #FFFF33;
    margin-top: 2rem;
    
    
}
input {
    width: 3.5rem;
    height:2.5rem;
    border-radius: 0.8rem;
    border: none;
    font-size:1.5rem; 
    font-weight: bold;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #FFFF33;
    caret-shape: block;
}
input::placeholder{
    color: #000000;
}
input:focus::placeholder{
    opacity: 0;
}
input:focus{
    outline: none;
    caret-shape: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

button{
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: #08A04B;
    border: 0.2rem solid #27742C;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.8rem;   
    box-shadow: 0px 0.4rem #4CC417; 
    transition: 1s;
}




/* button:active{
    background-color: #1589FF;
    border: 0.2rem solid #0059FF;
    box-shadow: 0px 0.1rem #00BFFF;
    transform: translate(0,0.33rem);
    transition: 0.1s linear;
} */

.choose{
    color:#FFFFF4;
    margin-bottom: 0.1rem;
}
.error{
    color: #F70D1A;
    margin-bottom: 3rem;
}

/* 
.container{
    display: flex;
    border: 2px solid red;

    align-items: end;
} */

/* .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
} */

/* .container .column{
    border: 1px solid blue; 
     height: 30px; 
     width: 30px; 
     margin: 1rem 0.5rem
} */

/* .container div :hover{
    background-color: green;    
} */

